/* Box sizing rules */
.rt-editor *,
.rt-editor *::before,
.rt-editor *::after {
  box-sizing: border-box;
}

/* Remove default padding */
.rt-editor ul[class],
.rt-editor ol[class] {
  padding: 0;
}

/* Remove default margin */
.rt-editor h1,
.rt-editor h2,
.rt-editor h3,
.rt-editor h4,
.rt-editor p,
.rt-editor ul[class],
.rt-editor ol[class],
.rt-editor figure,
.rt-editor blockquote,
.rt-editor dl,
.rt-editor dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
.rt-editor ul[class],
.rt-editor ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
.rt-editor a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
.rt-editor img,
.rt-editor picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
.rt-editor article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
.rt-editor input,
.rt-editor button,
.rt-editor textarea,
.rt-editor select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
.rt-editor img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.rt-editor code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}